In [2]:
import pandas as pd
from datetime import datetime as dt

1. Carregar os dados do arquivo CSV

In [23]:
df_survey = pd.read_csv("data/2_survey_data.csv")

2. Remover linhas com dados faltantes (NA).

In [26]:
df_survey.dropna()

   RespondentID   Age  Gender   Income  Satisfaction
0             1  25.0    Male  50000.0             5
1             2  34.0  Female  60000.0             4
2             3  45.0  Female  55000.0             3
5             6  22.0    Male  48000.0             5
6             7  50.0  Female  70000.0             4
7             8  61.0    Male  65000.0             3
8             9  18.0  Female  30000.0             2
9            10  35.0    Male  52000.0             1

3. Filtrar os respondentes que possuem Age entre 25 e 45 anos.

In [17]:
df_survey[(df_survey['Age'] >= 25) & (df_survey['Age'] <= 45)]

   RespondentID   Age  Gender   Income  Satisfaction
0             1  25.0    Male  50000.0             5
1             2  34.0  Female  60000.0             4
2             3  45.0  Female  55000.0             3
4             5  29.0  Female      NaN             1
9            10  35.0    Male  52000.0             1

4. Calcular a mÃ©dia de Income por grupo de Gender.

In [24]:
df_survey.groupby('Gender')['Income'].mean()

Gender
Female    53750.0
Male      52000.0
Name: Income, dtype: float64

5. Calcular a mediana da Income por grupo de Gender.

In [25]:
df_survey.groupby('Gender')['Income'].median()

Gender
Female    57500.0
Male      50000.0
Name: Income, dtype: float64

6. Filtrar os respondentes com Satisfaction maior ou igual a 4.

In [27]:
df_survey[df_survey['Satisfaction'] >= 4]

   RespondentID   Age  Gender   Income  Satisfaction
0             1  25.0    Male  50000.0             5
1             2  34.0  Female  60000.0             4
5             6  22.0    Male  48000.0             5
6             7  50.0  Female  70000.0             4

7. Criar uma nova coluna que classifique Income em categorias (ex.: "Low", "Medium", "High") com base em intervalos definidos.
Low: <= 40416
Medium: > 40416 <= 67083
High: > 67083

In [46]:
df_survey['Income_Category'] = ['Low' if income <= 40416
                                else 'Medium' if income > 40416 and income <= 67083
                                else 'High' for income in df_survey['Income']]
df_survey

   RespondentID   Age  Gender   Income  Satisfaction Income_Category
0             1  25.0    Male  50000.0             5          Medium
1             2  34.0  Female  60000.0             4          Medium
2             3  45.0  Female  55000.0             3          Medium
3             4   NaN    Male  45000.0             2          Medium
4             5  29.0  Female      NaN             1            High
5             6  22.0    Male  48000.0             5          Medium
6             7  50.0  Female  70000.0             4            High
7             8  61.0    Male  65000.0             3          Medium
8             9  18.0  Female  30000.0             2             Low
9            10  35.0    Male  52000.0             1          Medium

8. Determinar a idade mÃ©dia dos respondentes que estÃ£o "satisfeitos" (Satisfaction >= 4).

In [45]:
mean_age = float(df_survey[df_survey['Satisfaction'] >= 4]['Age'].mean())
print(f"A idade mÃ©dia Ã© {mean_age}")

A idade mÃ©dia Ã© 32.75

9. Salvar o resultado em um novo arquivo CSV.

In [49]:
df_survey.to_csv("data/2_survey_data_new.csv")