In [1]:
import pandas as pd

1. Carregar os dados do arquivo CSV

In [2]:
df_school = pd.read_csv("data/3_school_data.csv")

2. Calcular a média de cada aluno em todas as disciplinas.

In [28]:
df_school['Average'] = df_school.loc[:, 'Math':'PhysicalEducation'].mean(axis=1)
df_school[['Name', 'Average']]

      Name  Average
0    Alice     80.0
1      Bob     84.0
2  Charlie     78.0
3    David     71.0
4      Eve     70.0
5    Frank     63.0
6    Grace     85.0
7   Hannah     54.0
8      Ivy     57.0
9     Jack     57.0

3. Adicionar uma coluna indicando se o aluno está "Aprovado" (média >= 60) ou "Reprovado" (média < 60).

In [36]:
df_school['Classification'] = ['Approved' if grade >= 60
                               else 'Reproved'
                               for grade in df_school['Average']]
df_school

,StudentID,Name,Math,Science,English,History,PhysicalEducation,Average,Classification
0,1,Alice,80,70,90,60,100,80.0,Approved
1,2,Bob,90,85,80,70,95,84.0,Approved
2,3,Charlie,85,80,70,65,90,78.0,Approved
3,4,David,70,60,85,55,85,71.0,Approved
4,5,Eve,60,55,75,80,80,70.0,Approved
5,6,Frank,55,50,65,75,70,63.0,Approved
6,7,Grace,95,90,95,85,60,85.0,Approved
7,8,Hannah,40,45,50,60,75,54.0,Reproved
8,9,Ivy,50,65,60,45,65,57.0,Reproved
9,10,Jack,65,60,55,50,55,57.0,Reproved

4. Filtrar apenas os alunos "Reprovados".

In [41]:
df_school[df_school['Classification'] == 'Reproved']

,StudentID,Name,Math,Science,English,History,PhysicalEducation,Average,Classification
7,8,Hannah,40,45,50,60,75,54.0,Reproved
8,9,Ivy,50,65,60,45,65,57.0,Reproved
9,10,Jack,65,60,55,50,55,57.0,Reproved

5. Calcular a média por disciplina (Math, Science, English, History, PhysicalEducation) para toda a turma.

In [46]:
df_school.loc[:, 'Math':'PhysicalEducation'].mean()

Math                 69.0
Science              66.0
English              72.5
History              64.5
PhysicalEducation    77.5
dtype: float64

6. Encontrar o aluno com a maior média geral.

In [51]:
df_school.iloc[df_school['Average'].idxmax()]

StudentID                   7
Name                    Grace
Math                       95
Science                    90
English                    95
History                    85
PhysicalEducation          60
Average                  85.0
Classification       Approved
Name: 6, dtype: object

7. Adicionar uma coluna com a média ponderada das disciplinas (considere pesos diferentes para cada disciplina, ex.: Math - 2, Science - 1.5, etc.).

In [46]:
df_survey['Income_Category'] = ['Low' if income <= 40416
                                else 'Medium' if income > 40416 and income <= 67083
                                else 'High' for income in df_survey['Income']]
df_survey

   RespondentID   Age  Gender   Income  Satisfaction Income_Category
0             1  25.0    Male  50000.0             5          Medium
1             2  34.0  Female  60000.0             4          Medium
2             3  45.0  Female  55000.0             3          Medium
3             4   NaN    Male  45000.0             2          Medium
4             5  29.0  Female      NaN             1            High
5             6  22.0    Male  48000.0             5          Medium
6             7  50.0  Female  70000.0             4            High
7             8  61.0    Male  65000.0             3          Medium
8             9  18.0  Female  30000.0             2             Low
9            10  35.0    Male  52000.0             1          Medium

8. Determinar quantos alunos estão "Aprovados" e quantos estão "Reprovados".

In [45]:
mean_age = float(df_survey[df_survey['Satisfaction'] >= 4]['Age'].mean())
print(f"A idade média é {mean_age}")

A idade média é 32.75

9. Salvar o resultado em um novo arquivo CSV.

In [49]:
df_survey.to_csv("data/2_survey_data_new.csv")