In [4]:
import pandas as pd
from datetime import datetime as dt

1. Carregar os dados do arquivo CSV

In [35]:
df_sales = pd.read_csv("data/1_sales_data.csv")

2. Filtrar as vendas realizadas no ano de 2023.

In [36]:
df_sales['Date'] = pd.to_datetime(df_sales['Date'])
df_sales[(df_sales['Date'] >= '2023-01-01') & (df_sales['Date'] <= '2023-12-31')]

   OrderID     Product     Category  Quantity  Price       Date
0        1      Laptop  Electronics         1   1000 2023-01-10
1        2       Mouse  Accessories         5     20 2023-02-15
2        3    Keyboard  Accessories         3     50 2023-03-20
3        4     Monitor  Electronics         2    150 2023-04-25
4        5     Printer  Electronics         1    200 2023-05-30
5        6      Tablet  Electronics         2    300 2023-06-05
6        7  Headphones  Accessories         4     30 2023-07-10
7        8      Webcam  Accessories         2     50 2023-08-15
8        9        Desk    Furniture         1    100 2023-09-20
9       10       Chair    Furniture         1    200 2023-10-25

3. Calcular a receita total (Quantidade * Preço) para cada categoria de produto.

In [39]:
df_sales['Revenue'] = df_sales['Quantity'] * df_sales['Price']
df_sales

   OrderID     Product     Category  Quantity  Price       Date  Revenue
0        1      Laptop  Electronics         1   1000 2023-01-10     1000
1        2       Mouse  Accessories         5     20 2023-02-15      100
2        3    Keyboard  Accessories         3     50 2023-03-20      150
3        4     Monitor  Electronics         2    150 2023-04-25      300
4        5     Printer  Electronics         1    200 2023-05-30      200
5        6      Tablet  Electronics         2    300 2023-06-05      600
6        7  Headphones  Accessories         4     30 2023-07-10      120
7        8      Webcam  Accessories         2     50 2023-08-15      100
8        9        Desk    Furniture         1    100 2023-09-20      100
9       10       Chair    Furniture         1    200 2023-10-25      200

4. Ordenar as categorias pela receita total de forma decrescente.

In [42]:
df_sales.sort_values('Revenue', ascending=False)

   OrderID     Product     Category  Quantity  Price       Date  Revenue
0        1      Laptop  Electronics         1   1000 2023-01-10     1000
5        6      Tablet  Electronics         2    300 2023-06-05      600
3        4     Monitor  Electronics         2    150 2023-04-25      300
4        5     Printer  Electronics         1    200 2023-05-30      200
9       10       Chair    Furniture         1    200 2023-10-25      200
2        3    Keyboard  Accessories         3     50 2023-03-20      150
6        7  Headphones  Accessories         4     30 2023-07-10      120
1        2       Mouse  Accessories         5     20 2023-02-15      100
7        8      Webcam  Accessories         2     50 2023-08-15      100
8        9        Desk    Furniture         1    100 2023-09-20      100

5. Encontrar o produto mais vendido (em quantidade) no ano de 2023.

In [51]:
df_sales.loc[df_sales['Quantity'].idxmax()]

OrderID                       2
Product                   Mouse
Category            Accessories
Quantity                      5
Price                        20
Date        2023-02-15 00:00:00
Revenue                     100
Name: 1, dtype: object

6. Calcular a média de preço dos produtos vendidos por categoria.

In [62]:
df_sales.groupby('Category')['Price'].mean()

Category
Accessories     37.5
Electronics    412.5
Furniture      150.0
Name: Price, dtype: float64

7. Determinar o mês com a maior receita total.

In [76]:
df_sales['Month'] = df_sales['Date'].dt.to_period('M')
df_sales.groupby(['Month'])['Revenue'].sum().idxmax()

Period('2023-01', 'M')

8. Adicionar uma coluna com o preço total da venda (Quantidade * Preço).

In [75]:
df_sales['Revenue'] = df_sales['Quantity'] * df_sales['Price']

9. Salvar o resultado em um novo arquivo CSV.

In [78]:
df_sales.to_csv("data/1_sales_data_new.csv", index=False)